.navbar {
    color: #FFFFFF;

}

.design {
    font-family: "Honeybee", "PT Sans", Calibri, Tahoma, sans-serif;
}

@font-face {
    font-family: "Honeybee";
    src: local('Honeybee'), url(assets/fonts/Honeybeeregular-MG0p.ttf) format('truetype'),
    local('Honeybee'), url(assets/fonts/Honeybee.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

/* body {
    font-family: "Honeybee", "PT Sans", Calibri, Tahoma, sans-serif;
    
} */